.signUp {
  padding: 50px 30px;
  width: 375px;
  min-height: 600px;
  margin: 20px auto;
  border: 1px solid #d9d9d9;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725),
    0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  .title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  input {
    height: 40px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    display: block;
    margin: 5px 0;
    margin-bottom: 15px;
    outline: none;
    padding: 8px 12px;
  }
  .submit {
    background: #1890ff;
    border-radius: 4px;
    color: white;
    margin-top: 30px;
  }
  .info {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
}

p {
  color: red;
}

.error {
  border: 1px solid red !important;
}
.chekbox {
  display: flex !important;
  border-top: 1px solid #e8e8e8;

  align-items: top;
  > span {
    margin-top: 8px;
    display: block;
  }
  > span:first-child {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    width: 8%;
    > input:focus {
      border: none !important;
    }
  }
  > span:last-child {
    width: 90%;
  }
}
