.article {
  max-width: 940px;
  height: 140px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
  .heder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 20px;
      line-height: 28px;
      color: #1890ff;
      cursor: pointer;
    }
    .user {
      display: flex;
      align-items: center;
      .name_time {
        margin-right: 10px;
        text-align: right;
        > div:first-child {
          font-size: 18px;
          line-height: 28px;
        }
        > div:last-child {
          font-size: 12px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.5);
        }
      }
      .avatar {
        width: 45px;
        height: 45px;

        img {
          border-radius: 50%;
          width: 100%;
        }
      }
    }
  }
  .body {
    padding-top: 15px;
  }
}
